/*
Vermelho: #FD3B77;
Verde: #77FD3B;
Azul: #3B77FD;
Preto: #2d3436;
Cinza: #636e72;
Cinza-Claro: #b2bec3;
Branco: #dfe6e9;
*/
*{
	font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
}
.header{
	background-color: #2d3436;
	position: fixed;
	height: 100%;
	width: 20%;
	box-shadow: 2px 0px 5px;
}
.header a{
    text-decoration: none;
    color: #fff;
}
.menu >li{
	padding: 10px;
	margin: 5px ;
	border-left: 3px solid #3B77FD;
	color: #dfe6e9;
	font-family: 'PT Sans', sans-serif;
	text-align: center;

}
.menu >li:hover{
	background-color: #636e72;
	border-left: 5px solid #3B77FD;
	transition: .5s background;
	cursor: pointer;

}

.main{
	background-color: #dfe6e9;
	height: 100vh;
	margin-left: 20%;

	overflow-y: hidden;


}
.proposta{
	width: 90%;
	margin: 0 auto;
}
.status{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 150%;
	font-weight: bolder;
	border-bottom: 2px solid #77FD3B;
}
.group-dados-gerais{
	display: flex;
	justify-content: space-around;
}


.group-dados-divida{
	display: grid;
	grid-template-columns: repeat(5,1fr);

}
.group {
	margin-bottom: 30px;
}
.group div h6{
	text-align: left;
	padding: 5px;
	font-size: 90%;

}
.group div h5{
	text-align: center;
	font-size: 110%;
	padding: 5px;
	font-weight: bolder;

}
.group-dados-proposta-mensagem{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.group-dados-proposta{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 5px;
	width: 100%;
	align-items: center;

}
.mensagem {
	padding: 10px;
	margin-left: 20px;
	width: 100%;
	height: 50vh;
	overflow-x: hidden;

}
.mensagem textarea {
	display: block;
	height: 80%;
	width: 100%;
	resize: none;
	overflow-y: scroll;
	border-radius: 5px;

}
.mensagem input {
	display: block;
	text-align: left;
	margin-top: 10px;
	width: 70%;
	height: 2em;
	background: none;
	padding: 10px;
	border:none;
	border-bottom: 2px solid #b2bec3;
}
.salvar-mensagem{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: baseline;
}
.total{
	grid-column: 1/span 2;
	font-family: 'Overpass', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.group-dados-proposta div:nth-child(n+8){
	margin-top: 20px;
}
.total p{
	text-align: center;
}
.total h6{
	text-align: center;
	font-weight: bold;
}

/*-----------------Botoes-----------------
	Vermelho: #FD3B77;
	Verde: #77FD3B;
	Azul: #3B77FD;
	Preto: #2d3436;
	Cinza: #636e72;
	Cinza-Claro: #b2bec3;
	Branco: #dfe6e9;
*/
.btn-mensagem{
	border: 1px solid #b2bec3;
	background: none;
	font-family: 'PT Sans', sans-serif;
	height: 2em;
	width: 6em;
	font-weight: bold;
	font-size: 90%;
	text-align: center;
	border-radius: 5px;
}
.btn-mensagem:hover{
	background: #77FD3B;
	transition: .5s background;
	cursor: pointer;
}
.btn-acao{
	border: 1px solid #b2bec3;
	background: none;
	font-family: 'PT Sans', sans-serif;
	height: 2em;
	width: 9em;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	border-radius: 5px;
}

.divBtnContraProposta{
	text-align: center;
}
.btnContraProposta:hover{
	background:  #3B77FD;
	color: #fff;
	transition: .5s background;
	cursor: pointer;
}
.btns{
	text-align: right;
}
.btnCancelar:hover{
	background: #FD3B77;
	color: #fff;
	transition: .5s background;
	cursor: pointer;
}
.btnProposta:hover{
	background: #77FD3B;
	transition: .5s background;
	cursor: pointer;
}
