/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/12/2019, 13:12:43
    Author     : Thiago
*/
.divFormContraProposta{
    position: relative;
}
.containerContraProposta{
    position: absolute;
    background: #fff;
    transform: translate(50%,-70%);
    
    
    
}
.containerContraProposta input{
    text-align: center
}
.dadosContraProposta label{
    display: block;
}
.tipo-proposta{
    display: grid;
    text-align: left;
}
.tipo-proposta label{
    display: inline;
}
.dadosContraProposta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}