/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/12/2019, 20:00:50
    Author     : Thiago
*/


/*Cores
  Cinza: #e5dfdf;
  Verde-claro: #6ba8a9;
  Verde-Medio: #357376;
  Verde-Escuro: #1d4d4f;
*/

.containerParcelas{
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%);
    background: rgba(255,255,255,.8);
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    display: none;
    
    
}




.container table{
  margin: 25px auto;
  width: 90%;

}
.container tr{
  border-bottom: 1px solid #b2bec3;
  color: #2d3436;
}
.container tr:nth-child(2n){
  background: #6ba8a9;
}

.container tbody tr:hover{
  background: #fdcb6e;
  transition: .2s;
}


.container td,th{
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
